/* 
  Note:
  All sizes (including font size and border width) are to be set by javascript
                                                                              */

/***** Global Styles *****/

*{
	font-family: "SimHei", "Microsoft JhengHei", "STHeiti",
				 "Noto Sans", sans-serif;
}

body{
	padding: 0px;
	background-color: #000000;
}

div{
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	overflow: hidden;
}

/***** Top Level Layout *****/

#doc{
	width: 100%;
	height: 100%;
	background-color: #548234;
}

#main_frame{
	
}

#menu{
	z-index: 99999;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.8);
}

/***** Layout inside Main Frame *****/

#ctrl_area{
	background-color: #CCCCCC;
	overflow: auto;
}

#disp_area{
	background-color: #548234;
	overflow: auto;
}

#split_bar{
	background-color: #000000;
}

#split_bar_decor{
	background-color: #FFFFFF;
	opacity: 0.5;
}

/***** Control Area *****/

#ctrl_instr{
	text-align: center;
}

#f_box{
	border: #000000 solid;
	background-color: #FFFFFF;
}

#f_btn{
	border: #000000 solid;
	background-color: #CCCCCC;
}

/***** Display Area *****/

#p_box{
	border: #A6CC8C solid;
	overflow: hidden;
}

/***** Menu *****/

#menu a:link, #menu a:visited{
	color: #FFFFFF;
	text-decoration: none;
}

#menu a:hover, #menu a:active{
	color: #FFFFFF;
	text-decoration: underline;
}

.menu_item{
	
}

/***** Log (for debug use) *****/

#log{
	z-index: 9999;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
	text-align: right;
}
